<%= component_controller do %>
  <p><%= @count %></p>
  <%= reflex_tag :increment, :button, "+1" %>
  call regular reflex:
  <button data-reflex="click->ExampleReflex#my_reflex_action">call regular reflex</button>
  <div id="my-element"></div>
<% end %>
